



/* COOKIES  */
.cookies-header {
    background-color: burlywood;
    text-align: center;
    padding: 10px;
    margin-top: 0;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* PANCAKES */
.pancakes-header {
    background-color: yellow;
    text-align: center;
    padding: 10px;
    margin-top: 0;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* MEATBALLS */
.meatballs-header {
    background-color:brown;
    text-align: center;
    padding: 10px;
    margin-top: 0;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}