body {
font-family: Arial, sans-serif;
background-color: #f5f2e3;
}


/* MAIN PAGE*/
.odin-recipe-header {
    color: white;
    background-color: black;
    /* display: inline-block; */
    padding: 10px;
    margin-bottom: 0;
}


/* COOKIES  */
.cookies-header {
    background-color: burlywood;
    text-align: center;
    padding: 10px;
    margin-top: 0;
    text-transform: uppercase;
}

/* PANCAKES */
.pancakes-header {
    background-color: yellow;
    text-align: center;
    padding: 10px;
    margin-top: 0;
}

/* MEATBALLS */
.meatballs-header {
    background-color:brown;
    text-align: center;
    padding: 10px;
    margin-top: 0;
    text-transform: uppercase;
    color: white;
}